<h5 class="indigo-text">Dashboard</h5>
<h3 class="indigo-text text-darken-4">Welcome {{name}}</h3>
<h6 class="cyan-text text-darken-4">Here is your personal travel dashboard</h6>
{{!-- checks to see if there are any trips created by user, uses if else handlebars syntax --}}
{{#if trips}} 
    <table class="striped grey lighten-2 z-depth-5 hoverable">
        <thead>
            <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            {{!-- empty th below for edit and delete butons --}}
            <th></th> 
            </tr>
        </thead>
        <tbody>
            {{#each trips}}
            <tr>
                {{!-- since id below is in trips scope it knows the specific id --}}
                <td><a href="/trips/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>  
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    {{!-- adds edit button with link to edit using specific id --}}
                    <a href="/trips/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/trips/{{_id}}" method="POST" id="delete-form">
                        {{!-- method override used again here --}}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<p>You dont have any trips</p>
{{/if}}