<h1 class="cyan-text text-darken-4">Trips</h1>
<div class="row">
    {{!-- in handlebars an each loop can have an else statement so here it's used if no trips to display, but otherwise loops through trips and creates this template for each one --}}
    {{#each trips}}
    <div class="col s12 m4">
        <div class="card grey lighten-3 z-depth-2 hoverable">
            <div class="card-image">
                {{!-- brings in edit icon with trips user (in scope of loop already) and then ../user brings in the logged in user since it is out of the loop's scope  _id is story id (in scope of loop) and floating option is not included as param because it is already set to true in the hbs helper NOTE: triple curly braces needed here to parse html with handlebars--}}
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                {{!-- added stripTags function from helpers added to server from helpers/hbs note: stripTags (truncate body 150) <--parentheses allow two helpers to be used and 150 is length input for truncate param--}}
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                {{!-- chip in materialize is a badge basically--}}
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/trips/user/{{user._id}}">{{user.displayName}}
                    </a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/trips/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
        <p>No trips to display</p>
    {{/each}}
</div>